/* Add these styles to your CSS file */
.dropdownArea {
    position: relative; /* Make the parent div relative */
    display: inline-block;
  }
  
  .navMenu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff; /* Add background color for dropdown */
    border: 1px solid #ccc; /* Add border for dropdown */
    border-radius: 4px;
    position: absolute;
    top: 100%; /* Position the dropdown below the parent div */
    left: 0;
    width: 150px; /* Set the width of the dropdown */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1; /* Ensure the dropdown appears above other elements */
  }

  .dropdownBtn{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .navMenu li {
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .navMenu li:hover {
    background-color: #f0f0f0; /* Change background color on hover */
  }
  
  /* If you want to style the links inside the dropdown */
  .navMenu li a {
    color: #333;
    text-decoration: none;
  }
  
  .navMenu li a:hover {
    color: #555;
  }

  .dropdownArea span{
    margin-right: 10px;
    color: var(--fontColor);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

.dropdownArea svg{
  cursor: pointer;
}



  